*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
.header{
    background-color: #fff;
    height: 100px;
    display: grid;
    align-items: center;
    box-shadow: 0 3px 9px rgb(0 0 0 / 5%);

}
.container{
    width: 100%;
    max-width: 1300px;
    padding-left: 25px;
}
.container-nav{
    background-color: none;
    margin: 0 auto;
    justify-content:space-between;
    width: 100%;
    height: 89px;
    align-items: center;

}
.header_icon{
    color: #dc4f72;
    font-size: 26px;
    font-weight: 800;
    letter-spacing: -1px;
    margin-right: 290px;
}
.header_icon:hover{
    color: #dc4f72;
}
.header_hv{
    color: black;
    position: relative;
}

.header_hv:hover{
    color: #dc4f72;
}
.header_hv::before{
    position: absolute;
    content: '';
    background: #dc4f72;
    width: 0px;
    height: 2px;
    bottom: 10px;
    transition: 0.5s;

}
.header_hv:hover::before{
    width: 20px;
}
.header_dr{
    position: relative;
}
.header_dr::before{
    position: absolute;
    content: '';
    background: #dc4f72;
    width: 0px;
    height: 2px;
    bottom: 7px;
    transition: 0.7s;
}
.header_dr:hover::before{
    width: 20px;
}
.header_button{
    transition: 0.3s;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    margin: 0px;
    padding: 0px 30px;
    text-transform: uppercase;
}
.header_button:hover{
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72;
}